body{
	font: normal normal normal 80% Arial, Helvetica, Sans-Serif;
}


h1 {
	font: normal normal bold 1.50em Arial, Helvetica, Sans-Serif;
	background: #DDDDFF;
	color:#000000;	
	padding:2px;
	border-bottom: 3px double #fff;
	border-top: 3px double #fff;
}

h2 {
	font: normal normal bold 1.25em Arial, Helvetica, Sans-Serif;
	background: trasnparent;
	color: #6f9999;
	padding:5px;
	border-bottom: 3px double #6f9999;
	border-top: 3px double #6f9999;
}

h3 {
	font: normal normal normal 1.15em Arial, Helvetica, Sans-Serif;
	background: #6f9999;
	color: #ffffff;
	padding:2px;
	border-bottom: 3px double #fff;	
	border-top: 3px double #fff;
}

h4 {
	font: normal normal bold 1em Arial, Helvetica, Sans-Serif;
}

blockquote {
	font: normal normal normal .90em/1.5em Arial, Helvetica, Sans-Serif;
	background: #F0F8FF;
	color:#000000;
}
